/*css global*/
*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    color: #fff
    
}

.Table{
    width: 100%;
    border-collapse: collapse;
}
/*container tabela*/
.App{
    background-color: #fff;
    border-radius: 15px;
    border: transparent;
    border-spacing: 2px;
    border-collapse: collapse;


   
    
}

.ContainerApp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    border-left-color: transparent;
    flex-direction: column;
    border-radius: 8px;


}



.parent {
    position: relative;
  
  }
  
  .child {
    width: 300px;
    height: 100px;
    padding: 20px;
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -70px 0 0 -170px;
  }